<%- include("../layout/header") -%>

    <div>
        <% if(user) %>
        <h1>Your account</h1>
        <ul>
            <li>Ads</li>
            <li>Comments</li>
        </ul>
        <% } %>
        
    </div>

<%- include("../layout/footer") -%>